<h1>POOP</h1>
<%= @data %>
<br /><br/>
<h1>Your name is</h1>
<%= @data[:info][:name] %>
<h1>Using koala</h1>
<%= @graph.get_connections("me", "friends") %>
<h1>Statuses</h1>
<%= @status %>
<h1>id</h1>
<%= @status[0]["id"] %>